<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-top">
      <div class="footer-desc-col">
        {{#each
          (array
            (theme-setting "footer_paragraph_1")
            (theme-setting "footer_paragraph_2")
            (theme-setting "footer_paragraph_3")
          )
          as |para|
        }}
          <p>{{para}}</p>
        {{/each}}

        <p class="footer-donation">
          <a
            href="https://freecodecamp.org/donate"
            class="inline"
            rel="noopener noreferrer"
            target="_blank"
          >
            {{theme-setting "footer_donation_cta"}}
          </a>
        </p>
      </div>

      <div class="trending-guides">
        <h2 class="col-header">{{theme-setting "footer_columns_header"}}</h2>
        <ul class="trending-guides-articles">
          {{#each (range 0 29) as |i|}}
            <li>
              <a
                href={{theme-setting (concat "article" i "link")}}
                target="_blank"
              >
                {{theme-setting (concat "article" i "title")}}
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="col-header">Our Nonprofit</div>
      <div class="footer-divider"></div>
      <div class="our-nonprofit">
        {{#each
          (array
            "footer_about"
            "footer_Alumni_Network"
            "footer_Open_Source"
            "footer_Shop"
            "footer_Support"
            "footer_Sponsors"
            "footer_Academic_Honesty"
            "footer_Code_of_Conduct"
            "footer_Privacy_Policy"
            "footer_Terms_of_Service"
            "footer_Copyright_Policy"
          )
          as |item|
        }}
          <a href={{theme-setting (concat item "_link")}}>
            {{theme-setting (concat item "_text")}}
          </a>
        {{/each}}
      </div>
    </div>
  </div>
</footer>